@import url('reset.css');

body {
	font: 15px serif;
	color: #e0e0e0;
	background: #1f1a17 url("jack.png") no-repeat center center;
	background-attachment: fixed;
	line-height: 1.4;
}

code {
	font-family: monospace;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 8px 0;
}

a {
	color: white;
	text-decoration: underline
}

i {
	font-style: italic;
}

b {
	font-weight: bold;
}

ol {
	width: 475px;
	margin: 0 auto;
}

p {
	
}

ol li {
	list-style: upper-roman;
	list-style-position: inside;
}

dl {

}

dt {
	font-style: italic;
}

dd {
	
}

dd,
p,
ol {
	margin-bottom: 12px;
}

#container {
	padding-top: 25px;
	width: 900px;
	margin: 0 auto;
}

.col-left {
	clear: left;
	width: 400px;
	float: left;
}

.col-right {
	margin-left: 450px;
}

#gmap_canvas {
	margin-bottom: 10px;
}

#bottom {
	clear: left;
	width: 600px;
	margin: 0 auto;
}

#bottom section {
	margin-top: 24px;
	text-align: center;
}

#logo {
	display: block;
	width: 172px;
	height: 70px;
	background: url("logo.png");
}

#header {
	margin-bottom: 40px;
}

#header #logo {
	float: left;
}

#header h1 {
	font-family: "Princess Sofia";
	font-size: 64px;
	text-align: center;
}

#header p {
	text-align: center;
}

section {
	line-height: 1.4;
}

section h3 {
	font-family: "Princess Sofia";
	font-size: 24px;
	margin-bottom: 8px;
}

section p {
	
}

.logo {
	margin: 50px 0 30px 0;
	text-align: center;
}

.previous-talks {
	text-align: center;
}

.previous-talks li {
	margin-bottom: 18px;
}

.previous-talks time {
	font-size: 80%;
}

.previous-talks h3 {
	font-size: 18px;
	margin-bottom: 6px;
}